.container {
  background-color: #564d61;
}
.link {
  text-decoration: none;
}
.just {
  z-index: 1;
  position: absolute;
  top: 39%;
  padding: 0.3rem 2.5rem;
  border-radius: 50px;
  background: linear-gradient(
    280deg,
    rgba(82, 172, 255, 1) 0%,
    rgba(255, 227, 44, 1) 78%
  );
  animation: just 5s infinite alternate;
}
@keyframes just {
  from {
    right: 84%;
  }
  to {
    right: 0%;
  }
}
.btn2 {
  color: white;
  position: absolute;
  top: 40%;
  text-align: center;
  padding: 1rem 1.2rem;
  border-radius: 50px;
  background: linear-gradient(
    280deg,
    rgba(116, 235, 213, 1) 0%,
    rgba(159, 172, 230, 1) 78%
  );
  animation: btn2 5s infinite alternate;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

@keyframes btn2 {
  0% {
    right: 0%;
    width: 4rem;
  }
  50% {
    right: 55%;
    padding: 0.5rem 0rem;
  }
  to {
    right: 70%;
    width: 6rem;
  }
  /* 0% {
    right: 20%;
    width: 5rem;
  }
  50% {
    width: 7rem;
  }
  80% {
    right: 30%;
    width: 6rem;
  }
  to {
    right: 80%;
    width: 4rem;
  } */
}
.btn1 {
  color: black;
  position: absolute;
  top: 20%;
  text-align: center;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;

  background: linear-gradient(
    0deg,
    rgba(255, 222, 233, 1) 36%,
    rgba(181, 255, 252, 1) 100%
  );
  animation: btn1 5s infinite alternate;
  box-shadow: -3px 2px 8px 0px rgba(0, 50, 50, 0.55);
}
@keyframes btn1 {
  0% {
    right: 85%;
    width: 2rem;
  }
  50% {
    right: 75%;
    width: 2rem;
  }
  to {
    right: 0%;
    width: 4rem;
  }
}

.circle {
  display: flex;
  justify-content: space-between;
}
.des {
  transform: translateY(200%);
}
.title,
.text {
  margin: 0;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
}
.title {
  letter-spacing: 0.2rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.firstLine {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.smallCircle {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background-color: rgba(156, 118, 218, 0.2);
}
.small2Circle {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background-color: rgba(156, 118, 218, 0.2);
}
.middleCircle {
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  background-color: rgba(156, 118, 218, 0.2);
}
.bigCircle {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  background-color: #695681;
}
