.taxi {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.27);
}
.container {
  display: flex;
  cursor: pointer;
}
.num {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.36);
  border-radius: 20px;
  padding: 1.5rem 2rem;
  margin: 0.5rem;
}
.span {
  margin: 1rem;
  user-select: none;
  background-color: rgb(127, 206, 119);
  padding: 1rem;
  border-radius: 20px;
}
.small {
  font-size: 0.7rem;
  margin-left: 1rem;
}

.tab {
  margin-left: 1.5rem;
}
@media screen and (max-width: 500px) {
  .container {
    display: inline;
  }
}
